:root {
    /* primary colors */
    --purple: hsl(259, 100%, 65%);
    --lightRed: hsl(0, 100%, 67%);

    --white: hsl(0, 0%, 100%);
    --offWhite: hsl(0, 0%, 94%);
    --lightGrey: hsl(0, 0%, 86%);
    --smokeyGrey: hsl(0, 1%, 44%);
    --offBlack: hsl(0, 0%, 8%);
}



body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: var(--lightGrey);
   font-family: 'Poppins', sans-serif;
}

main {
    width: 55vw;
    padding: 3.5rem;
    background-color: var(--white) ;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 210px;

}



form {
    display: flex;
    justify-content: space-between;
    color: var(--smokeyGrey);
    border-bottom: 1px solid var(--lightGrey);
    padding:0 0 1.5rem 0;
    position: relative;  
}

input {
    font-size: 32px;
    font-weight: 700;
    width: 40%;
    border-radius: 8px;
    padding: 0.7rem;
    border: 1px solid var(--lightGrey);
}

input:placeholder-shown {
    font-weight: 700;
}

input:focus {
    outline: none;
    border: 1px solid var(--purple);
}

input:invalid {
    border: 1px solid red;
  }
  
  input:focus:invalid {
    border: 1px solid red;
  }


#dayError,
#monthError,
#yearError {
color:hsl(0, 100%, 67%);
font-style: italic;
font-weight: 100;
font-size:x-small;
}

.btn {
    width: 40px;
    background-color: var(--purple);
    border-radius: 50%;
    padding: 1.5rem;
    position: absolute;
    right: 0%;
    bottom: -45%;
    z-index: 2;
    cursor: pointer;
}

.btn > img {
    margin: auto;
    width: 100%;
}


.output {
    margin: 2.5rem 0 0 0;
}

.dash {
    color: var(--purple);
}

p{
    color: var(--offBlack);
    font-size: 4rem;
    font-style: italic;
    font-weight: 800;
    margin: 0;
}


@media screen and (max-width: 480px) {
  .btn {
    width: 15px;
    height: 15px;
    bottom: -23%;
    right: 40%;

  }

  main {
    width: 60vw;
    padding: 2.5rem;
  }

  form {
    padding:0 0 3.5rem 0;
  }

  input {
    font-size: 14px;
  }

  label {
    font-size: smaller;

  }

  p {
    font-size: 2rem;
  }

  
  }